<section style="min-height: 55px;
position: fixed;
top: 0;
left: 0;
width: 100%;">

    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
    
          <a class="navbar-brand " href="#">
            <img src="../../assets/logo.png" width="110px" height="30" class="d-inline-block align-top" alt="">
          </a>
    
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"><strong>Pricing</strong></a>
              </li>
    
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"><strong>Contact us</strong></a>
              </li>
    
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"><strong>Features</strong></a>
              </li>
    
        

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="modal" data-bs-target="#pricingModal">
                  <strong>Pricing</strong>
                </a>


              
                <div class="modal fade" id="pricingModal" tabindex="-1" role="dialog" aria-labelledby="pricingModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content" style="height: 360px;width: 900px;">
                    



                      <div class="modal-body">


                        <section >

                            <div class="container-fluid" style="height:100px ;">
                             <div class="row">
                                
                                <div class="col-lg-4 col-md 4 col-sm-12" style="text-align: center; background-color: blueviolet;">
                                    <br><br>
                                    <div style="display: inline-block; text-align: left;">
                                        <h4 style="color: rgb(255, 255, 255);">ENTRY LEVEL</h4>
                                        <p>Best for small business</p>
                                     <br>
                                        <h4 style="color: rgb(255, 255, 255);">PREMIUM</h4>
                                        <p>Best for medium size business</p>
                                     <br>
                                        <h4 style="color: rgb(255, 255, 255);">ENTERPRISE</h4>
                                        <p>Best for large scale business</p>
                                    </div>
                                </div>
                                
                                
                                <div class="col-lg-4 col-md-4 col-sm-12" style="text-align: center;">
                                    <br><br>
                                    <div style="display: inline-block; text-align: left;">
                                      <h4 style="color: blue;">FEATURES</h4>
                                      <p>Online Access To Software 24/7</p>
                                      <p>Free Funded Referral Platform</p>
                                      <p>24/7 Online Support</p>
                                      <p>10 User Accounts</p>
                                      <p>Free E-File</p>
                                      <p><a href=""><strong>Known More</strong></a></p>
                                    </div>
                                </div>
                                  
                                  
                                
                                <div class="col-lg-4 col-md-4 col-sm-12" style="text-align: center;">
                                    <br><br>
                                    <div style="display: inline-block; text-align: left;">
                                      <h4 style="color: blue;">PRICE</h4>
                                      <p>Value for money pack</p>
                                      <p style="color: blue; font-size: 70px;">$499</p>
                                      <button type="button" class="btn btn-success" style="font-size: 30px;">Buy Now <i class="fa-solid fa-cart-shopping"></i></button>
                                    </div>
                                </div>
                             </div>
                            </div>
                                
                        </section>



                      </div>
                     
                    </div>
                  </div>
                </div>
              </li>
              





















              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <strong>Pricing</strong>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><div class="dropdown-item">
    
    
    


  

                <section >

                    <div class="container-fluid" style="height:100px ;">
                     <div class="row">
                        
                        <div class="col-lg-4 col-md 4 col-sm-12" style="text-align: center; background-color: blueviolet;">
                            <br><br>
                            <div style="display: inline-block; text-align: left;">
                                <h4 style="color: rgb(255, 255, 255);">ENTRY LEVEL</h4>
                                <p>Best for small business</p>
                             <br>
                                <h4 style="color: rgb(255, 255, 255);">PREMIUM</h4>
                                <p>Best for medium size business</p>
                             <br>
                                <h4 style="color: rgb(255, 255, 255);">ENTERPRISE</h4>
                                <p>Best for large scale business</p>
                            </div>
                        </div>
                        
                        
                        <div class="col-lg-4 col-md-4 col-sm-12" style="text-align: center;">
                            <br><br>
                            <div style="display: inline-block; text-align: left;">
                              <h4 style="color: blue;">FEATURES</h4>
                              <p>Online Access To Software 24/7</p>
                              <p>Free Funded Referral Platform</p>
                              <p>24/7 Online Support</p>
                              <p>10 User Accounts</p>
                              <p>Free E-File</p>
                              <p><a href=""><strong>Known More</strong></a></p>
                            </div>
                        </div>
                          
                          
                        
                        <div class="col-lg-4 col-md-4 col-sm-12" style="text-align: center;">
                            <br><br>
                            <div style="display: inline-block; text-align: left;">
                              <h4 style="color: blue;">PRICE</h4>
                              <p>Value for money pack</p>
                              <p style="color: blue; font-size: 70px;">$499</p>
                              <button type="button" class="btn btn-success" style="font-size: 30px;">Buy Now <i class="fa-solid fa-cart-shopping"></i></button>
                            </div>
                        </div>
                     </div>
                    </div>
                        
                </section>
                        
                 
    
                    
    
    
    
    
    
    
             </div></li>
                  
            </ul>
              </li> -->
    
    
        
    
             
    
    
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"><strong>Contact us</strong></a>
              </li>
    
            
    
            </ul>
    

            <div class="d-flex">
                <button type="button" class="btn btn-success m-2">Get A Demo</button>
                <button type="button" class="btn btn-outline-success m-2">Sign In</button>
            </div>
          </div>
        </div>
      </nav>

   </section>




<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<section>
    <div class="container">
        <p style="color: green;">Welcome to</p>
        <h1><strong><i class="fa-regular fa-gem"></i> TaxSheldSoftware</strong></h1>
        <h5>As a prominent provider of professional tax software,<br>our primary goal is to foster growth alongside our partners</h5>
        <div style="display: flex;">
            <button type="button" class="btn btn-outline-success m-2">Try For Free</button>
            <button type="button" class="btn btn-success m-2">Talk with us</button>
        </div>
    </div>
</section>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>



<footer>
      <a>
        <img src="../../assets/footer.png" style="width: 100%;">
      </a>
</footer>

